<div class="class">
    <h1>Compartilhando dados de pai para filho @input:</h1>
    <br>
    <p>COMPARTILHANDO DADOS</p>
    <p>No Angular podemos compartilhar dados do componente pai para o componente filho</p>
    <p>Para isso, vamos disponibilizar na chamada do segundo componente o nome do dado que será recebido com a seguinte
        sintaxe: dado entre colchetes</p>
    <p>No código .ts do componente filho vamos utilizar o decorator @input, que tem como papel entregar o dado para o
        template.</p>
    <p>Importar Input</p>
    <br>

    <p>Nome: {{name}}</p>
    <p>Email: {{userData.email}}</p>
    <p>Função do usuário: {{userData.role}}</p>
</div>