<div class="class">
    <h1>Pipe Operator</h1>
    <br>
    <p>Os pipe operators são recursos para trabalhar com strings nos templates</p>
    <p>Podemos utilizar diversas funções, como deixar o texto em caixa alta</p>
    <p>A sintaxe é dado | algumPipeOperator entre dulpa chaves</p>
    <p>Desta maneira nos poupamos de regras de CSS ou manipulação de strings com JS</p>
    <br>
    <h2> {{ "Algum texto aqui" | uppercase }} </h2>
    <h2> {{ someText | titlecase }} </h2>
    <h2> {{ today }} </h2>
    <h2> {{ today | date: "fullDate"}} <i>alterando padrão date, com pipe, para fullDate</i></h2>
    <h2> {{ ts }} <i>timeStamp</i></h2>


</div>