<div class="class">
    <p>INTERPOLAÇÃO DE DADOS</p>
    <p>É um recurso que vai nos ensinar a trabalhar com os componentes do Angular;</p>
    <p>Vamos criar variáveis no arquivo .ts, dentro da classe, ou seja estas variáveis são propriedades da classe e
        então teremos acesso a estes dados no arquivo .html, o template.</p>
    <p>A impressão é feita por meio de um dado entre chaves</p>
    <br>
    <h2>Meu primeiro componente</h2>
    <h2>Adicionando interpolação</h2>
    <h2>Nome: {{name}}</h2>
    <h2>Idade: {{age}}</h2>
    <h2>Hobbie favorito: {{hobbies[1]}}</h2>
    <h2>Auto: {{moto.nome}}</h2>
</div>